{% extends "BasePage.html" %}
{% block content %}
  <div class="pic">
    <img src="/static/assets/img/back.jpg" alt="Back Excercise">
    <table id="Back">
      <tr>
        <th>Exercise</th>
        <th>Reps</th>
        <th>Sets</th>
      </tr>
      {% for exercise in exercises %}
        <tr>
          <td>{{ exercise.exerciseName }}</td>
          <td>{{ exercise.exerciseRecomendedReps }}</td>
          <td>{{ exercise.exerciseRecomendedSets }}</td>
        </tr>
      {% endfor %}
    </table>
</div>
</body>
</html>
{% endblock %}
