<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY PERSONAL PAGE</title>
 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/assets/style.css">
</head>
<body>
    <!---Lion section starts here-->
    
    <div class="lion">
        <nav>
            <h2 class="logo">Your Personal<span>Trainer </span></h2>
            <ul>
                <li><a href="#">Home </a></li>
                <li><a href="#">Profile </a></li>
                <li><a href="#">Contact </a></li>
                <li><a href="#">About me </a></li>
                <button type ="submit"><a href="SignupPage">SingUp</button></a>
                <button type ="submit"><a href="LoginPage">Login</button></a>
                <button type ="submit"><a href="SingOutPage">SingOut</button></a>
               <button type ="submit"><a href="ResetPasswordPage">ResetPasswprdpage</button></a>
              
            
            </ul>
      
        <a href="#" class="btn">Subscribe Me </a>
        <div class="content">
        <h4>Hello, my name is </h4>
        <h1>Hamid Ehsani</h1>
        <h3>Im a computer science student at LTU which is located in Sweden</h3>
        <div class ="newslatter">
            <form>
                <input type ="email" name="email" id="mail" placeholder="Enter Your Email">
                <input type ="sumbmit" name="submit" value="lets starts">
            </form>
        </div>
    <div>

    </div>
    </div>




    </nav>


    
</body>
</html>