{% extends "BasePage.html" %}
{% block content %}

<div class="content">
    <h3>We are a personal trainer company that was started in 2019<br>
        and we help people who need help gaining weight or want to lose weight.<br>
        Right now we are two colleagues working.<br>
        Hamid Ehsani and the other is Folke Forshed.<br>
        If you want to start training with us, book an appointment via email.</h3><br>
        <h2>Collapsibles</h2>
        <button type="submit" class="collapsible">More About Hamid</button>
        <div class="collapse">
            <p>Hamid Ehsani is a computer science student at LTU and he has 4 years experience....</p>
        </div>
        <button type="submit" class="collapsible">More About Folke</button>
        <div class="collapse">
            <p>Folke Forshed is a computer science student at LTU and he has 8 years experience....</p>
        </div>
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>


</body>
</html>
{% endblock %}
