<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/assets/test.css">
</head>
<body>

    <div class="topnav" id="myTopnav">
       
        <a href="\" class="active">Home</a>
        <a href="Contact">Contact </a>
        <a href="About">About us </a>
        <a href="CalorieCalc">Calorie Calculator </a>
        {%if user.is_authenticated%}

            <a href="Profile">Profile</a>
            <a href="Subscribe">Subscribe Me </a>
            
            <a href="SignoutPage"><button type="submit">Signout</button></a> 
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
              </a>     
        </div>
            <div class="dropdown" >
                <a button class="dropbtn">Exercises</button>
                <div class="dropdown-content" >
                    <a href="Chest">Chest</a><br>
                    <a href="Back">Back</a>
                    <a href="Leg">Leg</a>
                    <a href="Arms">Arms</a>
                    <a href="Shoulder">Shoulder</a>
                    <a href="Videos">Videos</a><li>
                
                </div>
            </div>

              </a>
        {%else%}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
        <a href="SignupPage"><button type="submit">SignUp</button></a>
        <a href="LoginPage"><button type="submit">Login</button></a>
        {% endif %}

          
        <script>
        function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
        }
        </script>
    </div>    
<div class ="lion">

<h2 class="logo">Your Personal<span>Trainer </span></h2>




{% block content %}
{% endblock %}
</div>    