{% extends "BasePage.html" %}
{% block content %}
<div class="content">
    <h4>Hello, Our name are </h4>
    <h1>Hamid Ehsani and Folke Forshed</h1>
    <h3>We are computer science students at LTU which is located in Sweden,<br>
         Hamid have trained gym with combination of volleyball during many years<br>
         Folke is a fetness trainer, he combine the gym with MMA. <br>
         Would you like to train with me?
    </h3>
</div>
        <!-- Javscrip to toggle collapse button -->
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
    });
}
  </script>
</body>
</html>
{% endblock %}
