{% extends "BasePage.html" %}
{% block content %}
{% load widget_tweaks %}

<div class="content">


    <h3>Welcome to Your Personal Trainer website</h3>
    <div class ="newslatter">
        <form method="post" action="{% url 'LoginPage' %}">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {% render_field form.username class="form-controll" hx-post="checkUserLog" hx-trigger="keyup" hx-target="#usernameInvalid"%}
            <div id='usernameInvalid'></div>
            <br>
            {{ form.password.label_tag }}
            {{ form.password }}
            <br>
            <button type="submit">Log in</button>
        </form>
        <a href="reset_password/"><button type="submit">Forgotten Your Password?</button></a>
    </div>
</body>
</html>
{% endblock %}
