{% extends 'basePage.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="content">
    <div class ="newslatter">
        <form method="post" action="SignupPage">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {% render_field form.username class="form-controll" hx-post="checkUser" hx-trigger="keyup" hx-target="#usernameInvalid"%}
            <div id="usernameInvalid"></div>
            <br>
            {{ form.email.label_tag }}
            {% render_field form.email class="form-controll" hx-post="checkEmail" hx-trigger="keyup" hx-target="#emailInvalid"%}
            <div id="emailInvalid"></div>
            <br>
            {{ form.password1.label_tag }}
            {% render_field form.password1 class="form-controll" hx-post="checkPass" hx-trigger="keyup" hx-target="#passInvalid"%}
            <br>
            {{ form.password2.label_tag }}
            {% render_field form.password2 class="form-controll" hx-post="checkPass" hx-trigger="keyup" hx-target="#passInvalid"%}
            <div id="passInvalid"></div>
            <br>
            {{ form.access.label_tag }}
            {{ form.access }}
            <button type="submit">Sign Up</button>
        </form>

        <a href="LoginPage"><button type ="submit">Already member</button></a>
    </div>
</div>
</body>
</html>

{% endblock %}
