<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY PERSONAL PAGE</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/assets/subscribe.css">
</head>
<body>


    <!---Lion section starts here-->
 

    <div class="lion">

      <nav>
          <h2 class="logo">Your Personal<span>Trainer </span></h2>
          <ul>

              
              <li><a href="Contact">Contact </a></li>
              <li><a href="About">About us </a></li>
              <li><a href="CalorieCalc">Calorie Calculator </a></li>
              

                    {%if user.is_authenticated%}
                    <li><a href="Profile">Profile </a></li>
                    <div class="dropdown">
                      
                      <button class="dropbtn">Exercises</button>
                      <div class="dropdown-content">
                        <a href="Chest">Chest</a>
                        <a href="Back">Back</a>
                        <a href="Leg">Leg</a>
                        <a href="Arms">Arms</a>
                        <a href="Shoulder">Shoulder</a>
                      </div></div>
                    <button type="submit"><a href="SignOut">Signout</a></button>
                  
    
                    {%else%}
                    <a href="SignupPage"><button type="submit">SignUp</button></a>
                    <a href="LoginPage"><button type="submit">Login</button></a>
                    <a href="Subscribe" class="btn">Subscribe Me </a>
    
                    {% endif %}
                  
                </div>

              <script scr="" async defer></script>

          </ul>

      <div class="containerAll">
          <h3>Here you can sign up for different training programs</h3>
          <br><br>
          <script type="text/javascript">
            addDiv()
          </script>
          <div id="container">
            {% for entry in entries %}
                <div class = "dynamic-div">
                    <p>Name: {{ entry.programName }}</p>
                    <p>Trainer:{{ entry.programTrainer }}</p>
                    <p>Type: {{ entry.programType }}</p>
                    <p>Type: {{ entry.programDescription }}</p>
                    <p>Difficulty(1-10): {{ entry.programDifficulty }}</p>
                    <form class="" method="post">
                      <button type="submit" name="button" value="{{ entry.programName }}">Subscribe</button>
                    </form>
                </div>
            {% endfor %}
          </div>
      </div>
      <form>
        <select>
          {% for entry in entries %}
            <option>{{ entry.programName }}</option>
          {% endfor %}
        </select>
        <button type="submit" name="button" value="{{ entry.programName }}">Subscribe</button>
      </form>

<script>
  function addDiv() {
    // Create a new div element
    var newDiv = document.createElement("div");

    // Add a class to the div element
    newDiv.classList.add("dynamic-div");

    // Append the div element to the container
    document.getElementById("container").appendChild(newDiv);
  }
</script>




</body>
