{% extends "BasePage.html" %}
{% block content %}
<div class="content">


    <div class="containerAll">
        <h3>Here you can sign up for different training programs</h3>
        <br><br>
        <div id="container">
            {% for entry in entries %}
                <div class = "dynamic-div">
                    <p>Name: {{ entry.programName }}</p>
                    <p>Trainer:
                        {% for trainer in entry.trainers.all %}
                            {{ trainer.user.username }} | 
                        {% endfor %}
                    </p>
                    <p>Type: {{ entry.programType }}</p>
                    <p>Type: {{ entry.programDescription }}</p>
                    <p>Difficulty(1-10): {{ entry.programDifficulty }}</p>
                </div>
            {% endfor %}
          </div>
      </div>
      <br>
      <form class=dynamic-div"" method="post">
            {% csrf_token %}
            <select name="program">
              {% for entry in entries %}
                <option>{{ entry.programName }}</option>
              {% endfor %}
            </select>
            <button type="submit">Subscribe</button>
      </form>

    <script>
      function addDiv() {
        // Create a new div element
        var newDiv = document.createElement("div");

        // Add a class to the div element
        newDiv.classList.add("dynamic-div");

        // Append the div element to the container
        document.getElementById("container").appendChild(newDiv);
      }
    </script>
</div>
</body>
</html>
{% endblock %}